<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<% include ../partials/stylesheet %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container">
		<div class="col-lg-6">
			<h4 class="text-muted">Images</h4>
		</div>
		<div class="col-lg-6">
			<button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createImage">Image Upload</button>
		</div>
	</div>

	<% include ../partials/footer %>
	<% include ../partials/javascript %>
</body>
</html>