<<<<<<< HEAD
=======
<<<<<<< HEAD
<footer class="footer bg-light">
	<div class="container mr-auto">
		<span>&copy 2017. Node-Express-MVC-App</span>
	</div>
</footer>
=======
>>>>>>> 14fc4bc9fee34cf8e05024edcb4f3e830715e182
<footer class="footer">
    <div class="container">
        <span>&copy 2016. Node-Express-MVC-App</span>
    </div>
</footer>
<<<<<<< HEAD
=======
>>>>>>> develop
>>>>>>> 14fc4bc9fee34cf8e05024edcb4f3e830715e182
