<!-- header part - Navbar -->
	<nav class="navbar navbar-expand-sm navbar-light  bg-light">
		<a href="#" class="navbar-brand">Chapter01</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="#" class="nav-link">Sign in
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Sign up
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Profile
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Comments
					</a>
				</li>
			</ul>
		</div>
	</nav>